# Server config
SERVER_PORT=
NODEMAILER_SMTP_HOST=
NODEMAILER_SMTP_PORT=
NODEMAILER_SMTP_USERNAME=
NODEMAILER_SMTP_PASSWORD=
NODEMAILER_SMTP_FROM=

# Databae config
MONGO_URI=
MONGO_DB_NAME=
DRIZZLE_URI=
USE_DB=